<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 添加 Tailwind CSS -->
    <link href="./App.css" rel="stylesheet" />
  </head>
  <body>
    <div id="root"></div>
    <!-- Electron 渲染进程入口脚本 -->
    <script src="./renderer.js"></script>
  </body>
</html>
